.home-section {
    padding: 50px;
    text-align: center;
    background-color: #f8f9fa;
  }

  .custom-container {
    padding: 20px;
    text-align: center;
  }
  
  .custom-container h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .custom-container p {
    font-size: 1rem;
    color: #555;
  }
  @media (max-width: 768px) {
    .home-section {
      padding: 30px;
    }
  }
  
  @media (max-width: 480px) {
    .home-section {
      padding: 20px;
    }
  }
  