.home-section {
    padding: 50px;
    text-align: center;
    background-color: #f8f9fa;
  }

  .custom-container {
    padding: 20px;
    text-align: center;
  }
  
  .custom-container h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .custom-container p {
    font-size: 1rem;
    color: #555;
  }

  .icon-color {
    color: #40534c; /* Icon color */
  }
  
  .title {
    color: #000; /* Title color */
    font-weight: bold; /* Bold title */
    font-size: 0.875rem; /* Smaller title font size */
  }
  
  .text-color {
    color: #506953; /* Text color */
  }
  
  @media (max-width: 768px) {
    .home-section {
      padding: 30px;
    }
  }
  
  @media (max-width: 480px) {
    .home-section {
      padding: 20px;
    }
  }
  