.card-img-top {
  width: 100%;
  max-height: 295px;
  object-fit: cover;
  min-height: 295px; /* Ensure consistent height */
}

.card-body {
  padding: 1rem;
}

.card-text {
  color: #506953;
  font-weight: 600;
}

@media (max-width: 767.98px) {
  .card-body {
    padding: 0.5rem;
  }
}

@media (max-width: 479.98px) {
  .col-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }


  .card-img-top {
    max-height: 200px;
    min-height: 200px; /* Ensure consistent height */
  }
}
